/* Do not remove the comments below. It's the markers used by wiredep to inject
   stylus dependencies when defined in the bower.json of your dependencies */
// bower:styl
// endbower

body
  margin 0
  padding 0

a
  text-decoration none

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
