.follow-mouse-container
  background url('../assets/images/loading.gif') no-repeat transparent
  background-size cover
  display none
  height 1em
  position absolute
  width 1em
  
  &.show-me
    display inline-block